# Created by .ignore support plugin (hsz.mobi)
# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.idea
.idea/workspace.xml
.idea/inspectionProfiles
.idea/libraries
.idea/*.xml
*.iml
out
gen
/.idea
/.idea/workspace.xml
/.idea/inspectionProfiles
/.idea/libraries
/.idea/*.xml
/*/*.iml
/*.iml
/*/target
/target
*/.idea
*/.idea/workspace.xml
*/.idea/inspectionProfiles
*/.idea/libraries
*/.idea/*.xml
/*/node_modules
/*/*.log
.DS_Store
*.png
*.ipr
*.iws
*.jpg
*.json
## **/log*
*.ERROR
*.SQL
compete-service.ERROR*
compete-service.SQL*
compete-web.ERROR*
compete-web.SQL*
**/apollo-cache

**/autoindex/spring.log**
!/compete-web/src/main/resources/log4j.properties
!/compete-service/src/main/resources/log4j.properties
!/compete-web/src/main/resources/log4j2.xml
!/compete-service/src/main/resources/log4j2.xml